nav {
    background-color: #f4f7fb;
    padding-bottom: 2px;
  }
  .nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__center ul {
    display: flex;
    list-style-type: none;
  }
  .nav__center ul li {
    padding:2em;
    cursor: pointer;
  }
  .nav__center ul li a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 1em;
    display: block;
  }
  .nav__center ul li a:hover {
    background-color:burlywood   ;
    color: aliceblue;
  }
  .nav__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2em;
  }
  .cart-container{
    background-color:burlywood;
    width:500px;
    display: none;
    min-height:150px;
    position:absolute;
    top: 10%;
    right:0; 
  }

  .show_cart{
    display: block;
  }
  
  .cart-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .quantity-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    
  }
  
  /* .quantity-buttons button{ */
    /* padding: 0 1em; */
  /* } */
  @media screen and (max-width:530px) {
    .nav__left{
      display: none;
    }
    .nav__center{
      display:none;
    }
    
 
    
    .icon__bar{
      display:block;
    }
    
    
    }
    